{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_in_container %}
    <h1>{{ page.title }}</h1>
    {% if page.sub_heading %}
        <p>{{ page.sub_heading }}</p>
    {% endif %}
    <div class="row">
        {% for blog_page in resources %}
            <div class="col-sm-12 col-md-4">
                 <a href="{{ blog_page.get_url }}" class="text-decoration-none">
                    <div class="card mb-4 shadow-sm p-3 text-dark hover-bg-light">
                        <div class="mb-2 p-1">
                            {% image blog_page.main_image max-360x240 as img %}
                            <img src="{{img.url}}" class="img-fluid" alt="{{ blog_page.title }}">
                        </div>
                        <div class="card-body p-1">
                            <h5 class="card-title mb-1">{{ blog_page.title }}</h5>
                            {% if blog_page.author %}
                                {% if blog_page.author.image %}
                                    {% image blog_page.author.image fill-64x64 as img %}
                                    <img src="{{ img.url }}"
                                         class="avatar rounded-circle mr-2 mb-1"
                                         alt="{{ blog_page.author.name }}">
                                {% endif %}
                                {{ blog_page.author.name }}
                            {% endif %}
                            <p class="text-muted mb-1">
                                {{ blog_page.publish_date }}
                            </p>
                            {% if blog_page.description %}
                                <p class="m-0">{{ blog_page.description|truncatewords:20 }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if resources.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ resources.previous_page_number }}" tabindex="-1"
                       aria-disabled="false">Previous</a>
                </li>
            {% endif %}
            {% for page_num in resources.paginator.page_range %}
                <li class="page-item {% if page_num == resources.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endfor %}
            {% if resources.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ resources.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


