{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block body_in_container %}
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mb-0">{{ page.title }}</h1>
            {% if page.author %}
                {% if page.author.image %}
                    {% image page.author.image fill-64x64 as img %}
                    <img src="{{ img.url }}" class="rounded-circle avatar my-1" alt="{{ page.author.name }}">
                {% endif %}
            <span class="mx-1">{{ page.author.name }}</span>
            {% endif %}
            <span class="text-muted">{{ page.publish_date }}</span>
            <div class="text-center mt-3 mb-4">
                <img class="mw-100" src="{{ page.main_image.file.url }}" alt="{{ page.title }}">
            </div>
            <div>
                {{ page.body }}
            </div>
        </div>
        <div class="col-lg-4">
            {% if recent_blogs|length > 0 %}
                <h3 class="mt-2">Recent Posts</h3>
                <div class="list-group">
                    {% for blog in recent_blogs %}
                        <a href="{{ blog.get_url }}" class="list-group-item list-group-item-action">
                            <div class="font-weight-bold">{{ blog.title }}</div>
                            <div>{{ blog.short_description }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}