{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block body_in_container %}
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title }}</h1>
            <div class="d-flex flex-row align-items-center p-2">
                {% if page.author and page.author.image %}
                    {% image page.author.image fill-50x50 as img %}
                    <img src="{{ img.url }}" class="rounded-circle mr-1" alt="{{ page.author.name }}">
                {% endif %}
                <p class="m-0">
                    {% firstof page.author.name "Anonymous" %} <small class="text-muted">{{ page.publish_date }}</small>
                </p>
            </div>
            <hr>
            <div class="text-center mb-2">
                <img src="{{ page.main_image.file.url }}" alt="" style="max-width: 400px;max-height: 400px">
            </div>
            <div class="">
                {{ page.body }}
            </div>
        </div>
    </div>
{% endblock %}