{% extends "base.html" %}
{% load crispy_forms_tags humanize learnk12_tags static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section>
<h1 class="darkslategray mb-0">{{ page.title }}</h1>
    {% if page.tags.count %}
        <div class="mb-1">
            {% for tag in page.tags.all %}
                <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}"
                   class="badge badge-pill badge-info">{{ tag | title }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if page.review_count %}
        <a href="#reviews" class="d-inline-block text-nowrap text-decoration-none">
            {% for icon in page.avg_score|get_stars %}
                <i class="material-icons md-narrow align-middle text-warning">{{ icon }}</i>
            {% endfor %}
        </a>
        <a href="#reviews" class="d-inline-block text-nowrap ml-1 align-middle text-secondary">
            {{ page.review_count }} review{{ page.review_count|pluralize }}
        </a>
    {% endif %}
    {% if page.takeaway %}
        <div class="my-2">
            <span class="font-weight-bold">Learn K12 takeaway:</span>
            <span>{{ page.takeaway }}</span>
        </div>
    {% endif %}
    <hr>
</section>
<section>
    <h2 class="text-dark">Course Summary</h2>
    {% if page.course_images %}
        <div class="overflow-auto text-nowrap pb-3">
            {% for course_image in page.course_images.all %}
                {% image course_image.image original as img_original %}
                <button class="btn btn-link px-0 img-btn"
                        data-toggle="modal"
                        data-target="#imageModal"
                        original="{{ img_original.url }}">
                    {% image course_image.image fill-320x240 class="rounded mr-2 border shadow-sm"%}
                </button>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <i class="material-icons md-18 align-middle">signal_cellular_alt</i>
        <span class="font-weight-bold align-middle mx-1">Difficulty:</span>
        <a href="{{ self.get_parent.url }}?difficulty={{ page.difficulty }}"
           class="align-middle">{{ page.difficulty | course_difficulty_enum }}</a>
    </div>
    <div>
        <i class="material-icons md-18 align-middle">face</i>
        <span class="font-weight-bold align-middle mx-1">Provider:</span>
        {% if page.course_url %}
            <a href="{{ page.course_url }}" target="_blank" class="align-middle">{{ page.provider }}</a>
        {% else %}
            <span class="align-middle">{{ page.provider }}</span>
        {% endif %}
    </div>
    <div>
        <i class="material-icons md-18 align-middle">credit_card</i>
        <span class="font-weight-bold align-middle mx-1">Cost:</span>
        <span class="align-middle">
            {% if page.cost == 0%}
                Free
            {% else %}
                ${{ page.cost | floatformat:"0" | intcomma }}
            {% endif %}
        </span>
    </div>
    <div>
        <i class="material-icons md-18 align-middle">schedule</i>
        <span class="font-weight-bold align-middle mx-1">Duration:</span>
        <span class="align-middle">{{ page.duration_hours }} hour{{ page.duration_hours | pluralize }}</span>
    </div>
</section>
<section>
    <h2 class="text-dark">Description</h2>
    {{ page.description | richtext }}
</section>
<section id="reviews" class="pt-2">
    <h2 class="text-dark">Reviews</h2>
    {% if page.page_ptr_id in request.session.reviewed_courses %}
        <div class="alert alert-success" role="alert">Thank you for your review! 😊</div>
    {% endif %}
    <div class="d-flex justify-content-between">
        <div id="query-buttons">
            {% if page.review_count %}
                {% include 'home/query_buttons.html' %}
            {% endif %}
        </div>
        {% if 'reviewed_courses' not in request.session or page.page_ptr_id not in request.session.reviewed_courses %}
            <button class="btn btn-success d-none d-sm-block {{ page.review_count|yesno:',mb-2' }}"
                    data-toggle="collapse"
                    data-target="#write-review">
                <span class="align-middle">Write a review</span>
                <i class="material-icons md-15 align-middle">create</i>
            </button>
        {% endif %}
    </div>
    {% if 'reviewed_courses' not in request.session or page.page_ptr_id not in request.session.reviewed_courses %}
        <button class="btn btn-success d-block d-sm-none {{ page.review_count|yesno:',mb-2' }}"
                data-toggle="collapse"
                data-target="#write-review">
            <span class="align-middle">Write a review</span>
            <i class="material-icons md-15 align-middle">create</i>
        </button>
    {% endif %}
    <div id="write-review" class="border rounded p-4 my-2 bg-light collapse {{ show_form|yesno:'show,' }}">
        <form method="post" action="{{ page.url }}#reviews">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.email | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.reviewer_type | as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.score | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.subject | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.description | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form.is_anonymous | as_crispy_field }}
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div id="course-reviews">
        {% include 'home/course_reviews.html' %}
        {% include 'home/page_buttons.html' %}
    </div>
</section>
{# Modal #}
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="imageExpand" class="img-fluid border shadow-sm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    $(".img-btn").on("click", function() {
        const src = $(this).attr("original");
        console.log()
        $('#imageExpand').attr('src', src);
    });

    const getPagedData = (url) => {
        $.ajax({
            url : url,
            type : 'GET',
            dataType: 'html',
            success : function(data) {
                $('#query-buttons').html($('#query-buttons', data));
                $('#course-reviews').html($('#course-reviews', data));
                $('html,body').animate({
                    scrollTop: $('#reviews').offset().top
                }, 'fast')
            },
            error : function(request, error) {
                console.log(error);
            }
        });
    };
</script>
{% endblock extra_js %}
