{% load humanize learnk12_tags wagtailimages_tags %}

{% if paging_data %}
    <div class="d-flex justify-content-between">
        <small class="text-muted">{% page_result_figures paging_data %}</small>
        {% feedback_page 'Suggest a course on '|add:page.subject as feedback_page_url %}
        {% if feedback_page_url %}
            <small><a href="{{ feedback_page_url }}">Suggest a course</a></small>
        {% endif %}
    </div>
{% endif %}
<div class="table-responsive">
    <table class="table table-hover border-bottom">
        <thead class="thead-light">
            <tr>
                <th class="d-none d-lg-table-cell"></th>
                <th class="d-none d-lg-table-cell">Course</th>
                <th class="d-none d-lg-table-cell text-nowrap">Age</th>
                <th class="d-none d-lg-table-cell text-nowrap">Difficulty</th>
                <th class="d-none d-lg-table-cell">Cost</th>
                <th class="d-none d-lg-table-cell">Duration</th>
                <th class="d-none d-lg-table-cell text-right">Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for page in courses %}
                <tr style="transform: rotate(0);">
                    <td class="d-none d-lg-table-cell">
                        <div class="py-2">
                        {% with page.course_images.all|first as first_image %}
                            {% if first_image %}
                                {% image first_image.image fill-180x120 class="rounded border shadow-sm" %}
                            {% else %}
                                <div class="img-rect bg-light text-center rounded border shadow-sm">
                                    <i class="material-icons font-size-48 text-secondary centered">menu_book</i>
                                </div>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </td>
                    <td>
                        <div>
                        <a href="{{ page.url }}" class="stretched-link lead font-weight-bold darkslategray mr-1">
                            {{ page.title }}
                        </a>
                        </div>
                        <div>
                            by {{ page.provider }}
                        </div>
                        <div class="d-none d-lg-flex flex-wrap">
                            {% if page.lesson_type_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">description</i>
                                    <span>
                                        {{ page.lesson_type_tags.all|dictsort:"name"|join:", " }}
                                    </span>
                                </div>
                            {% endif %}
                            {% if page.platform_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">ondemand_video</i>
                                    <span>{{ page.platform_tags.all|dictsort:"name"|join:", " }}</span>
                                </div>
                            {% endif %}
                            {% if page.programming_language_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">keyboard</i>
                                    <span>{{ page.programming_language_tags.all|dictsort:"name"|join:", " }}</span>
                                </div>
                            {% endif %}
                            {% if page.override_description %}
                                <p class="my-1">{{ page.override_description|truncatewords:20 }}</p>
                            {% endif %}
                        </div>
                        <div class="d-lg-none">
                            {% include 'home/page_star_rating.html' with inline=True %}
                            {% include 'home/page_summary.html' with cls_icon='pb-2' %}
                        </div>
                    </td>
                    <td class="d-none d-lg-table-cell text-nowrap">
                        {{ page.age_low|render_age_range:page.age_high }}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {{ page.difficulty | render_course_difficulty }}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {{ page.cost_amount|render_cost:page.cost_interval }}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {{ page.course_length_hours | render_duration }}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {% include 'home/page_star_rating.html' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
