{% load humanize learnk12_tags wagtailimages_tags %}

{% if paging_data %}
    <div class="d-flex justify-content-between">
        <small class="text-muted">{% page_result_figures paging_data %}</small>
        {% feedback_page 'Suggest a course on '|add:page.subject as feedback_page_url %}
        {% if feedback_page_url %}
            <small><a href="{{ feedback_page_url }}">Suggest a course</a></small>
        {% endif %}
    </div>
{% endif %}
<div class="table-responsive">
    <table class="table table-hover border-bottom">
        <thead class="thead-light">
            <tr>
                <th class="d-none d-lg-table-cell"></th>
                <th class="d-none d-lg-table-cell">Course</th>
                <th class="d-none d-lg-table-cell text-nowrap">Age</th>
                <th class="d-none d-lg-table-cell text-nowrap">Difficulty</th>
                <th class="d-none d-lg-table-cell">Cost</th>
                <th class="d-none d-lg-table-cell">Duration</th>
                <th class="d-none d-lg-table-cell text-right">Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for page in courses %}
                <tr style="transform: rotate(0);">
                    <td class="d-none d-lg-table-cell">
                        {% with page.course_images.all|first as first_image %}
                            {% if first_image %}
                                {% image first_image.image fill-180x120 class="rounded border shadow-sm" %}
                            {% else %}
                                <div class="img-rect bg-light text-center rounded border shadow-sm">
                                    <i class="material-icons font-size-48 text-secondary centered">menu_book</i>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        <div>
                        <a href="{{ page.url }}" class="stretched-link lead font-weight-bold darkslategray mr-1">
                            {{ page.title }}
                        </a>
                        </div>
                        <div>
                            by {{ page.provider }}
                        </div>
                        <div class="d-none d-lg-flex flex-wrap">
                            {% if page.lesson_type_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">description</i>
                                    <span>
                                        {{ page.lesson_type_tags.all|dictsort:"name"|join:", " }}
                                    </span>
                                </div>
                            {% endif %}
                            {% if page.platform_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">ondemand_video</i>
                                    <span>{{ page.platform_tags.all|dictsort:"name"|join:", " }}</span>
                                </div>
                            {% endif %}
                            {% if page.programming_language_tags.count > 0 %}
                                <div class="d-flex align-items-center mr-3">
                                    <i class="material-icons text-secondary font-size-18 mr-1">keyboard</i>
                                    <span>{{ page.programming_language_tags.all|dictsort:"name"|join:", " }}</span>
                                </div>
                            {% endif %}
                            {% if page.override_description %}
                                <p class="my-1">{{ page.override_description|truncatewords:20 }}</p>
                            {% endif %}
                        </div>
                        <div class="d-lg-none">
                            {% include 'home/page_star_rating.html' with inline=True %}
                            {% include 'home/page_summary.html' with cls_icon='pb-2' hide_labels_xs=True %}
                        </div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {% if page.age_low != None or page.age_high != None %}
                            {% if page.age_low != None and page.age_high == None %}
                                {{ page.age_low }}+
                            {% elif page.age_low == page.age_high %}
                                {{ page.age_low }}
                            {% else %}
                                {{ page.age_low }} to {{ page.age_high }}
                            {% endif %}
                        {% endif %}
                    </td>
                    {% with page.difficulty|course_difficulty as difficulty_content %}
                    <td class="d-none d-lg-table-cell">
                        <div>{{ difficulty_content.label }}</div>
                        <div class="text-nowrap mt-n2">
                            {% spaceless %}
                                {% for _ in difficulty_content.dashes_filled %}
                                    <i class="material-icons font-size-12 text-info">
                                        radio_button_checked
                                    </i>
                                {% endfor %}
                                {% for _ in difficulty_content.dashes_empty %}
                                    <i class="material-icons font-size-12 text-muted">
                                        radio_button_unchecked
                                    </i>
                                {% endfor %}
                            {% endspaceless %}
                        </div>
                    </td>
                    {% endwith %}
                    <td class="d-none d-lg-table-cell">
                        {% if page.cost_amount != None %}
                            {% if page.cost == 0 %}
                                Free
                            {% else %}
                                ${{ page.cost_amount | floatformat:"0" | intcomma }}
                                {% if page.cost_interval != 'lifetime' and page.cost_interval %}
                                    per {{ page.cost_interval }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {% if page.course_length_hours != None %}
                            {{ page.course_length_hours }} hour{{ page.course_length_hours | pluralize }}
                        {% endif %}
                    </td>
                    <td class="d-none d-lg-table-cell">
                        {% include 'home/page_star_rating.html' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
