{% extends "base.html" %}
{% load humanize static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/course_detail_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <section>
    <h1>{{ page.title }}</h1>
        {% if page.tags.count %}
            <div class="mb-2">
                {% for tag in page.tags.all %}
                    <span class="badge badge-pill badge-info">{{ tag | title }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% if page.summary %}
            <div class="my-2">
                <span class="font-weight-bold">Learn K12 takeaway:</span>
                <span>{{ page.summary }}</span>
            </div>
        {% endif %}
        <hr>
    </section>
    <section>
        <h2>Course Details</h2>
        {% if page.images %}
            <div class="overflow-auto text-nowrap pb-3">
                {% for block in page.images %}
                    {% image block.value fill-256x256-c100 class="rounded mr-2" %}
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <i class="material-icons md-18 align-middle">signal_cellular_alt</i>
            <span class="font-weight-bold align-middle mx-1">Difficulty:</span>
            <span class="align-middle">{{ page.difficulty_label | title }}</span>
        </div>
        <div>
            <i class="material-icons md-18 align-middle">face</i>
            <span class="font-weight-bold align-middle mx-1">Provider:</span>
            {% if page.course_url %}
                <a href="{{ page.course_url }}" target="_blank" class="align-middle">{{ page.provider }}</a>
            {% else %}
                <span class="align-middle">{{ page.provider }}</span>
            {% endif %}
        </div>
        <div>
            <i class="material-icons md-18 align-middle">credit_card</i>
            <span class="font-weight-bold align-middle mx-1">Cost:</span>
            <span class="align-middle">
                {% if page.cost == 0%}
                    Free
                {% else %}
                    ${{ page.cost | floatformat:"0" | intcomma }}
                {% endif %}
            </span>
        </div>
        <div>
            <i class="material-icons md-18 align-middle">schedule</i>
            <span class="font-weight-bold align-middle mx-1">Duration:</span>
            <span class="align-middle">{{ page.duration_hours }} hour{{ page.duration_hours | pluralize }}</span>
        </div>
    </section>
    <section>
        <h2>Overview</h2>
        <p class="my-0 py-0">{{ page.overview | richtext }}</p>
    </section>
</div>
{% endblock content %}
