{% extends "base.html" %}
{% load crispy_forms_tags humanize learnk12_tags static wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
    <link rel="canonical" href="{{ page.full_url }}" />
    <meta property="og:url" content="{{ page.full_url }}"/>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Course",
            "@id": "{{ page.url }}",
            "name": "{{ page.title }}",
            "description": "{{ page.override_description }}",
            "url": "{{ page.full_url }}",
            {% image page.course_images.all.first.image fill-320x240 as img_first %}
            "image": ["{{ img_first.url }}"],
            {% if page.course_url %}
            {% endif %}
            {% if page.avg_score and page.review_count %}
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "{{ page.avg_score }}",
                "ratingCount": {{ page.review_count }}
            },
            {% endif %}
            "provider": {
                "@type": "Organization",
                "name": "{{ page.provider }}"
            }
        }
    </script>
{% endblock %}

{% block body_in_container %}
<section>
<h1 class="darkslategray mb-0">{{ page.title }}</h1>
    <div class="align-items-center mb-2">
        <div class="mr-2">by {{ page.provider }}</div>
        <a href="#reviews">
            {% include 'home/page_star_rating.html' with inline=True %}
        </a>
        {% include 'home/course_images.html' %}
    </div>
</section>
<section>
    <div class="d-flex">
        <h2 class="text-dark mr-3">Course Summary</h2>
        {% if page.course_url %}
            <a href="{{ page.course_url }}"
               target="_blank"
               rel="nofollow"
               class="d-flex align-self-center align-items-center btn btn-sm btn-light border">
                <span class="mr-1">Go to Course</span>
                <i class="material-icons text-dark font-size-16">open_in_new</i>
            </a>
        {% endif %}
    </div>
    <div class="col-lg-8 mt-2">
        {% include 'home/page_summary.html' with icon_div_cls='py-1' %}
    </div>
</section>
<section>
    <h2 class="text-dark">Description</h2>
    {{ page.description | richtext }}
    {% feedback_page 'Suggest an edit on '|add:page.title|add:' by '|add:page.provider as course_feedback_url %}
    {% if course_feedback_url %}
        <span>Do you have information on this course?</span>
        <a href="{{ course_feedback_url }}">Suggest an edit</a>
    {% endif %}
</section>
{% if page.similar_courses %}
    <section>
        <h2 class="text-dark">Similar Courses</h2>
        {% include 'home/similar_courses.html' with similar_courses=page.similar_courses %}
    </section>
{% endif %}
<section>
    <h2 class="text-dark">Provider</h2>
    {% include 'home/course_provider.html' with provider=page.provider %}
</section>
<section id="reviews" class="pt-2">
    <h2 class="text-dark">Reviews</h2>
    {% feedback_page 'Report review on '|add:page.title|add:' by '|add:page.provider as review_feedback_url %}
    {% if page.page_ptr_id in request.session.reviewed_courses %}
        <div class="alert alert-success" role="alert">Thank you for your review! 😊</div>
    {% endif %}
    <div class="d-flex justify-content-between">
        <div id="query-buttons">
            {% if page.review_count %}{% include 'home/query_buttons.html' %}{% endif %}
        </div>
        {% if 'reviewed_courses' not in request.session or page.page_ptr_id not in request.session.reviewed_courses %}
            <button class="btn btn-success d-none d-sm-block {{ page.review_count|yesno:',mb-2' }}"
                    data-toggle="collapse"
                    data-target="#write-review">
                <span class="align-middle">Write a review</span>
                <i class="material-icons font-size-16 align-middle">create</i>
            </button>
        {% endif %}
    </div>
    {% if 'reviewed_courses' not in request.session or page.page_ptr_id not in request.session.reviewed_courses %}
        <button class="btn btn-success d-block d-sm-none {{ page.review_count|yesno:',mb-2' }}"
                data-toggle="collapse"
                data-target="#write-review">
            <span class="align-middle">Write a review</span>
            <i class="material-icons font-size-16 align-middle">create</i>
        </button>
    {% endif %}
    <div id="write-review" class="border rounded p-4 my-2 bg-light collapse {{ show_form|yesno:'show,' }}">
        <form method="post" action="{{ page.url }}#reviews">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">{{ form.name | as_crispy_field }}</div>
                <div class="col-md-3">{{ form.email | as_crispy_field }}</div>
                <div class="col-md-3">{{ form.reviewer_type | as_crispy_field }}</div>
                <div class="col-md-3">{{ form.score | as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form.subject | as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form.description | as_crispy_field }}</div>
            </div>
            <div class="row mb-1">
                <div class="col smaller text-muted">
                    <input class="d-inline mr-2" type="checkbox" required>
                    {% slugurl 'privacy-policy' as privacy_policy_link %}
                    <label class="d-inline">
                        <label class="d-inline">
                            I have read the <a href="{{ privacy_policy_link|default:'#' }}">Privacy Policy</a>. I understand my name and email are <strong>not shared</strong> and are used internally for <strong>review verification purposes only</strong>.
                        </label>
                    </label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col smaller text-muted">
                    <input class="d-inline mr-2" type="checkbox" required>
                    <label class="d-inline">
                        I am 18 years of age or older, or I have the consent of my parent or guardian to post this review.
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div id="course-reviews">
        {% include 'home/course_reviews.html' %}
        {% include 'home/page_buttons.html' %}
    </div>
</section>
{# Image modal #}
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="imageTitle" class="modal-title">{{ page.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="imageExpand" class="figure-img img-fluid border shadow-sm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(".img-btn").on("click", function() {
        gaTry(() => {
            const title = $(this).attr('alt');
            $('#imageTitle').html(title);
            const src = $(this).attr('src');
            $('#imageExpand').attr('src', src);
        });
    });
    const getPagedData = (url) => {
        gaTry(() => {
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'html',
                success: function(data) {
                    $('#query-buttons').html($('#query-buttons', data));
                    $('#course-reviews').html($('#course-reviews', data));
                    $('html,body').animate({
                        scrollTop: $('#reviews').offset().top
                    }, 'fast')
                },
                error: function(xhr, status, error) {
                    ga('send', 'exception', {
                        'exDescription': xhr.responseText,
                        'exFatal': false
                    });
                }
            });
        });
    };
</script>
{% endblock extra_js %}
