{% load humanize learnk12_tags wagtailimages_tags %}

{% if paging_data %}
    <small class="text-muted">{% page_result_figures paging_data %}</small>
{% endif %}
<div class="table-responsive">
    <table class="table table-hover border-bottom">
        <thead class="thead-light">
            <tr>
                <th class="d-none d-lg-table-cell"></th>
                <th>Course</th>
                <th class="d-none d-lg-table-cell">Difficulty</th>
                <th class="d-none d-lg-table-cell">Cost</th>
                <th class="d-none d-lg-table-cell">Duration</th>
                <th class="d-none d-lg-table-cell">Provider</th>
                <th class="d-none d-lg-table-cell text-right">Reviews</th>
                <th class="d-lg-none">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for page in courses %}
                <tr style="transform: rotate(0);">
                    <td class="d-none d-lg-table-cell">
                        {% with page.course_images.all|first as first_image %}
                            {% if first_image %}
                                {% image first_image.image fill-180x120 class="rounded border shadow-sm" %}
                            {% else %}
                                <div class="img-rect bg-light text-center rounded border shadow-sm">
                                    <i class="material-icons text-secondary centered">menu_book</i>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        <a href="{{ page.url }}" class="stretched-link lead font-weight-bold darkslategray">
                            {{ page.title }}
                        </a>
                        {% if page.tags %}
                            <div>
                                {% for tag in page.tags.all %}
                                    <span class="badge badge-pill badge-info">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <p class="my-1">{{ page.snippet|truncatewords:20 }}</p>
                    </td>
                    <td class="d-none d-lg-table-cell">{{ page.difficulty | course_difficulty_enum }}</td>
                    <td class="d-none d-lg-table-cell">
                        {% if page.cost == 0%}
                            Free
                        {% else %}
                            ${{ page.cost | floatformat:"0" | intcomma }}
                        {% endif %}
                    </td>
                    <td class="d-none d-lg-table-cell">{{ page.duration_hours }} hour{{ page.duration_hours | pluralize }}</td>
                    <td class="d-none d-lg-table-cell">{{ page.provider }}</td>
                    <td class="d-none d-lg-table-cell">
                        {% include 'home/page_star_rating.html' %}
                    </td>
                    <td class="d-lg-none">
                        {% include 'home/page_star_rating.html' with inline=True %}
                        {% include 'home/page_summary.html' with hide_labels_xs=True %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>