{% load wagtailimages_tags %}

{% if page.course_images %}
<div class="overflow-auto text-nowrap mb-1">
    {% for course_image in page.course_images.all %}
        <div class="d-inline">
            {% image course_image.image original as img_original %}
            <figure class="figure text-center p-0 mb-2"
                    data-toggle="modal"
                    data-target="#imageModal"
                    original="{{ img_original.url }}"
                    image-title="{{ page.title }}: {{ course_image.image.title }}">
                {% image course_image.image fill-320x240 class="figure-img rounded mr-2 mb-1 border shadow-sm" alt=course_image.image.title %}
                <figcaption class="figure-caption">{{ course_image.caption }}</figcaption>
            </figure>
        </div>
    {% endfor %}
</div>
{% endif %}