{% extends "base.html" %}
{% load humanize learnk12_tags static %}

{% block content %}
<div class="container">
    <h1>Online Computer Science Courses</h1>
    <div class="my-1">
        <div class="d-inline-block align-middle">
            {% for column, sort_button in sort_buttons.items %}
                <a href="{% build_url 'sort' column %}" class="btn {{ sort_button.button_color }} btn-sm border mb-1">
                    <span class="align-middle p-0 m-0">{{ sort_button.label | title }}</span>
                    <i class="material-icons md-15 align-middle md-narrow">
                        {{ sort_button.material_icon }}
                    </i>
                </a>
            {% endfor %}
            {% for column, filter in filter_labels.items %}
                <div class="dropdown d-inline">
                    <a href="{% build_url 'sort' column %}"
                       class="btn btn-sm border mb-1 {{ filter.main_btn }}"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="align-middle">{{ column | title }}</span>
                        {% if filter.select_count %}
                            <span class="align-middle">({{ filter.select_count }})</span>
                        {% endif %}
                        <i class="material-icons md-15 align-middle md-narrow">filter_list</i>
                    </a>
                    <div class="dropdown-menu">
                        {% for value, dropdown_dict in filter.dropdown_btns.items %}
                            <a class="dropdown-item {{ dropdown_dict.btn_color }}" href="{% build_url column value %}">
                                {% if column == 'tag' %}
                                    {{ dropdown_dict.label|title }}
                                {% else %}
                                    {{ dropdown_dict.label }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="{{ page.url }}" class="ml-1"><small>Reset</small></a>
        </div>
    </div>
    <small class="text-muted">
        {{ courses_paged.num_courses }} result{{ courses_paged.num_courses | pluralize }} returned
    </small>
    <div class="list-group">
        {% include 'home/courses_table.html' %}
    </div>
    <div class="text-center my-2">
        <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Navigation">
            {% with curr_pg=courses_paged.current_page %}
            {% with num_pg=courses_paged.num_pages %}
            {% with enabled="btn border btn-light" %}
            {% with disabled="btn border btn-light disabled" %}
            {% with active="btn border btn-secondary disabled" %}
            {% with hide_xs="d-none d-sm-block" %}
            {% with prev_page=courses_paged.current_page|add:-1 %}
            {% with next_page=courses_paged.current_page|add:1 %}
                <a class="{% if curr_pg == 1 %}{{ disabled }}{% else %}{{ enabled }}{% endif %}"
                   href="{% build_url 'page' 1 %}">
                    First
                </a>
                <a class="{% if curr_pg == 1 %}{{ disabled }}{% else %}{{ enabled }}{% endif %} {{ hide_xs }}"
                   href="{% build_url 'page' prev_page %}">
                    Previous
                </a>
                {% for page_num in courses_paged.page_range %}
                    <a class="{% if curr_pg == page_num %}{{ active }}{% else %}{{ enabled }}{% endif %}"
                       href="{% build_url 'page' page_num %}">
                        {{ page_num }}
                    </a>
                {% endfor %}
                <a class="{% if curr_pg >= num_pg %}{{ disabled }}{% else %}{{ enabled }}{% endif %} {{ hide_xs }}"
                   href="{% build_url 'page' next_page %}">
                    Next
                </a>
                <a class="{% if curr_pg >= num_pg %}{{ disabled }}{% else %}{{ enabled }}{% endif %}"
                   href="{% build_url 'page' num_pg %}">
                    Last
                </a>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}
