{% load learnk12_tags wagtailcore_tags wagtailimages_tags %}

<div class="position-relative">
    {% image provider.logo max-120x80 as logo %}
    <div class="d-flex align-items-center">
        {% if logo %}
            <img src="{{logo.url}}" class="provider-thumbnail mr-1" alt="{{ provider }}">
        {% endif %}
        <h5 class="my-0 font-weight-normal">{{ provider }}</h5>
    </div>
    {% if provider.avg_score and provider.review_count > 0 %}
        <div class="text-muted">
            <div class="d-inline-block text-nowrap mr-2">
                {% for icon in provider.avg_score|get_stars %}
                    <i class="material-icons font-size-20 md-narrow text-warning align-middle">
                        {{ icon }}
                    </i>
                {% endfor %}
            </div>
            <div class="d-inline-block text-secondary align-middle {{ inline|yesno:'d-inline,'}}">
                {{ provider.review_count }} review{{ provider.review_count | pluralize }}
            </div>
        </div>
    {% endif %}
    <a href="{{ provider.url }}" class="stretched-link">see more</a>
</div>
<p>{{ provider.description | richtext }}</p>
