{% load wagtailimages_tags %}

{% if page.course_images %}
<div class="overflow-auto text-nowrap mb-1 rounded bg-secondary pt-3 px-3 pb-0">
    {% for course_image in page.course_images.all %}
        <div class="d-inline">
            {% image course_image.image original as img_original %}
            <figure class="figure text-center p-0 mt-2 mb-3">
                {% image course_image.image height-240 as img %}
                <img
                    src="{{ img.url }}"
                    class="thumbnail-lg figure-img rounded mx-3 mb-1 shadow-sm cursor-pointer img-btn"
                    alt="{{ course_image.image.title }}"
                    data-toggle="modal"
                    data-target="#imageModal"
                >
                <figcaption class="figure-caption text-white">{{ course_image.caption }}</figcaption>
            </figure>
        </div>
    {% endfor %}
</div>
{% endif %}