{% extends "base.html" %}
{% load humanize static url_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/courses_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <h1>Online Computer Science Courses</h1>
    <div class="my-1">
        <div class="d-inline-block align-middle">
            {% for column, sort_button in sort_buttons.items %}
                <a href="{% build_url sort=column %}" class="btn {{ sort_button.button_color }} btn-sm border mb-1">
                    <span class="align-middle p-0 m-0">{{ sort_button.label | title }}</span>
                    <i class="material-icons md-15 align-middle md-narrow">
                        {{ sort_button.material_icon }}
                    </i>
                </a>
            {% endfor %}
            <a href="{% build_url sort=column %}"
               class="btn btn-sm border mb-1 {{ provider_button_color }}"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <span class="align-middle">Provider</span>
                {% if provider_select_count %}
                    <span class="align-middle">({{ provider_select_count }})</span>
                {% endif %}
                <i class="material-icons md-15 align-middle md-narrow">filter_list</i>
            </a>
            <div class="dropdown-menu">
                {% for provider, dropdown_class in provider_dropdown_buttons.items %}
                    <a class="dropdown-item {{ dropdown_class }}" href="{% build_url provider=provider %}">
                        {{ provider }}
                    </a>
                {% endfor %}
            </div>
            <a href="{{ page.url }}" class="ml-1"><small>Reset</small></a>
        </div>
    </div>
    <small class="text-muted">
        {{ courses_paged.num_courses }} result{{ courses_paged.num_courses | pluralize }} returned
    </small>
    <div class="list-group">
        {% for page in courses_paged.courses %}
            <a href="{{ page.url }}" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row align-items-center row">
                    <div class="col-md-auto my-1 px-0 ml-3">
                        {% with page.images|first as first_image %}
                            {% image first_image.value fill-128x128-c100 class="d-inline-block rounded shadow-sm" %}
                        {% endwith %}
                    </div>
                    <div class="col-md-auto my-1 px-0 mx-3">
                        <h2 class="mb-0">{{ page.title }}</h2>
                        {% if page.tags %}
                            <div>
                                {% for tag in page.tags.all %}
                                    <span class="badge badge-pill badge-info">{{ tag | title }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <p class="mt-1 mb-2">{{ page.summary }}</p>
                        <div>
                            <div class="d-inline-block mr-2">
                                <i class="material-icons md-18 align-middle">signal_cellular_alt</i>
                                <span class="align-middle">{{ page.difficulty_label | title }}</span>
                            </div>
                            <div class="d-inline-block mr-2">
                                <i class="material-icons md-18 align-middle">face</i>
                                <span class="align-middle">{{ page.provider }}</span>
                            </div>
                            <div class="d-inline-block mr-2">
                                <i class="material-icons md-18 align-middle">credit_card</i>
                                <span class="align-middle">
                                    {% if page.cost == 0%}
                                        Free
                                    {% else %}
                                        ${{ page.cost | floatformat:"0" | intcomma }}
                                    {% endif %}
                                </span>
                            </div>
                            <div class="d-inline-block mr-2">
                                <i class="material-icons md-18 align-middle">schedule</i>
                                <span class="mr-1 align-middle">
                                    {{ page.duration_hours }} hour{{ page.duration_hours | pluralize }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            <p class="border text-center py-5">No results were returned. Please try updating your filters. 😊</p>
        {% endfor %}
    </div>
    <div class="text-center my-2">
        <div class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Navigation">
            {% with curr_pg=courses_paged.current_page %}
            {% with num_pg=courses_paged.num_pages %}
            {% with enabled="btn border btn-light" %}
            {% with disabled="btn border btn-light disabled" %}
            {% with active="btn border btn-secondary disabled" %}
            {% with hide_xs="d-none d-sm-block" %}
            {% with prev_page=courses_paged.current_page|add:-1 %}
            {% with next_page=courses_paged.current_page|add:1 %}
                <a class="{% if curr_pg == 1 %}{{ disabled }}{% else %}{{ enabled }}{% endif %}"
                   href="{% build_url page=1 %}">
                    First
                </a>
                <a class="{% if curr_pg == 1 %}{{ disabled }}{% else %}{{ enabled }}{% endif %} {{ hide_xs }}"
                   href="{% build_url page=prev_page %}">
                    Previous
                </a>
                {% for page_num in courses_paged.page_range %}
                    <a class="{% if curr_pg == page_num %}{{ active }}{% else %}{{ enabled }}{% endif %}"
                       href="{% build_url page=page_num %}">
                        {{ page_num }}
                    </a>
                {% endfor %}
                <a class="{% if curr_pg >= num_pg %}{{ disabled }}{% else %}{{ enabled }}{% endif %} {{ hide_xs }}"
                   href="{% build_url page=next_page %}">
                    Next
                </a>
                <a class="{% if curr_pg >= num_pg %}{{ disabled }}{% else %}{{ enabled }}{% endif %}"
                   href="{% build_url page=num_pg %}">
                    Last
                </a>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}
