{% load humanize learnk12_tags wagtailimages_tags %}

{% if value.heading %}
    <h1 class="mt-5 mb-2 text-dark">{{ value.heading }}</h1>
{% endif %}
{% if value.caption %}
    <p class="lead">{{ value.caption }}</p>
{% endif %}
<div class="table-responsive">
    <table class="table table-hover border-bottom">
        <thead class="thead-light">
            <tr>
                <th class="d-none d-md-table-cell"></th>
                <th>Course</th>
                <th class="d-none d-md-table-cell">Difficulty</th>
                <th class="d-none d-md-table-cell">Provider</th>
                <th class="text-right">Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for page in courses %}
                <tr style="transform: rotate(0);">
                    <th class="d-none d-md-table-cell text-center">{{ forloop.counter }}</th>
                    <td>
                        <a href="{{ page.url }}" class="stretched-link font-weight-bold darkslategray">{{ page.title }}</a>
                        {% if page.tags %}
                            <div>
                                {% for tag in page.tags.all %}
                                    <span class="badge badge-pill badge-info">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td class="d-none d-md-table-cell">{{ page.difficulty | course_difficulty_enum }}</td>
                    <td class="d-none d-md-table-cell">{{ page.provider }}</td>
                    <td>
                        {% include 'home/page_star_rating.html' with inline=False %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>