{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="splash d-flex justify-content-center align-items-center text-white">
    <div class="text-center font-weight-bold">
        <h1 class="display-1 text-white font-weight-normal">Your resource for K-12 online learning</h1>
        <p class="display-3 font-weight-normal">Search courses. Read reviews.</p>
    </div>
</div>
<div class="container my-5">
    <h1 class="mt-4">2020 Best Online Computer Science Courses</h1>
    <div>
        {% for page in courses %}
            <div>
                <span>{{ page.title }}</span>
                <a href="{{ page.url }}">click here</a>
            </div>
        {% endfor %}
    </div>
    <h1 class="mt-4">2020 Best Online Computer Science Tutors</h1>
    <div>
        {% for page in tutors %}
            <div>
                <span>{{ page.title }}</span>
                <a href="{{ page.url }}">click here</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
