{% extends "base.html" %}
{% load humanize learnk12_tags static wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block heading %}
    <div class="splash d-flex justify-content-center align-items-center text-white">
        <div class="container text-center">
            <h1 class="font-weight-normal">
                Your resource for <span class="text-nowrap">K-12</span> online education
            </h1>
            <h2 class="font-weight-light">Find and compare online courses for young students.</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-2 text-dark">Best Free Coding Courses</h1>
    <p class="lead">Free coding courses to get you started.</p>
    {% include 'home/courses_table.html' with courses=best_free shortened=True %}
    <h1 class="mt-5 text-dark">Highest Rated Coding Courses</h1>
    <p class="lead">The best reviewed courses on Learn K12.</p>
    {% include 'home/courses_table.html' with courses=highest_rated paged=False%}
{% endblock content %}
