{% extends "base.html" %}
{% load humanize learnk12_tags static wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block body_outside_container %}
    <div class="splash d-flex justify-content-center align-items-center text-white">
        <div class="container text-center">
            <h1 class="font-weight-normal">{{ page.heading }}</h1>
            {% if page.caption %}
                <h2 class="font-weight-light">{{ page.caption }}</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_in_container %}
    <div class="mx-lg-5 px-lg-5">
        {% for block in page.course_rank_tables %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock %}
