{% load learnk12_tags wagtailimages_tags %}

{% if courses.count > 2 %}
<div class="card-deck">
    {% for page in courses %}
        <div class="card {{ forloop.counter|gr_than_eq:3|yesno:'d-none d-lg-flex,' }}">
                {% with page.course_images.all|first as first_image %}
                    <div class="mb-0 rounded shadow-sm">
                        {% if first_image %}
                            {% image first_image.image fill-600x360 class="card-img-top img-fluid" alt="{{ page.title }}" %}
                        {% else %}
                            <div class="img-rect bg-light text-center">
                                <i class="material-icons text-secondary centered">menu_book</i>
                            </div>
                        {% endif %}
                    </div>
                {% endwith %}
            <div class="card-body">
                <h2 class="card-title darkslategray">{{ page.title }}</h2>
                <p class="card-text mb-1">{{ page.summary }}</p>
                <a href="{{ page.url }}" class="stretched-link"></a>
            </div>
            <div class="card-footer">
                {% if page.review_count %}
                    <div class="d-inline-block text-nowrap">
                        {% for icon in page.avg_score|get_stars %}
                            <i class="material-icons md-narrow align-middle text-warning">{{ icon }}</i>
                        {% endfor %}
                    </div>
                    <div class="d-inline-block text-nowrap align-middle ml-1">
                        {{ page.review_count }} review{{ page.review_count | pluralize }}
                    </div>
                {% else %}
                    <div class="text-muted">No reviews yet</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
