{% load humanize learnk12_tags %}
<div class="d-flex {{ div_inline|yesno:'align-items-center flex-wrap,flex-column' }}">
    <div class="{{ div_inline|yesno:'d-inline-flex mr-3,d-flex mb-1' }} align-items-center text-nowrap">
        <i class="material-icons">signal_cellular_alt</i>
        <span class="{{ hide_labels_xs|yesno:'d-none d-sm-block,' }} font-weight-bold mx-1">Difficulty:</span>
        {% with page.difficulty|course_difficulty as difficulty_content %}
        <span class="{{ hide_labels_xs|yesno:'ml-1,'}}">
            <span>{{ difficulty_content.label }}</span>
            <span class="text-nowrap">
                {% spaceless %}
                    {% for _ in difficulty_content.dashes_filled %}
                        <i class="material-icons font-size-12 text-info">radio_button_checked</i>
                    {% endfor %}
                    {% for _ in difficulty_content.dashes_empty %}
                        <i class="material-icons font-size-12 text-muted">radio_button_unchecked</i>
                    {% endfor %}
                {% endspaceless %}
            </span>
        </span>
        {% endwith %}
    </div>
    <div class="{{ div_inline|yesno:'d-inline-flex mr-3,d-flex mb-1' }} align-items-center text-nowrap">
        <i class="material-icons">payment</i>
        <span class="{{ hide_labels_xs|yesno:'d-none d-sm-block,' }} font-weight-bold mx-1">Cost:</span>
        <span class="{{ hide_labels_xs|yesno:'ml-1,'}}">
            {% if page.cost == 0 %}Free{% else %}${{ page.cost | floatformat:"0" | intcomma }}{% endif %}
        </span>
    </div>
    <div class="{{ div_inline|yesno:'d-inline-flex mr-3,d-flex mb-1' }} align-items-center text-nowrap">
        <i class="material-icons">schedule</i>
        <span class="{{ hide_labels_xs|yesno:'d-none d-sm-block,' }} font-weight-bold mx-1">Duration:</span>
        <span class="{{ hide_labels_xs|yesno:'ml-1,'}}">
            {{ page.duration_hours }} hour{{ page.duration_hours | pluralize }}
        </span>
    </div>
</div>