<style>
    #stars-list {
        cursor: pointer;
    }
</style>

<script>
    const starClick = (el) => {
        const val = el.getAttribute('value')
        document.querySelector('#score').setAttribute('value', val)
        for (selected of stars.slice(0, val)) {
            selected.classList.add('text-warning')
            selected.classList.remove('text-secondary')
        }
        for (unselected of stars.slice(val)) {
            unselected.classList.add('text-secondary')
            unselected.classList.remove('text-warning')
        }
    }
    const starMouseover = (el) => {
        const val = el.getAttribute('value')
        for (selected of stars.slice(0, val)) {
            selected.classList.add('text-warning')
            selected.classList.remove('text-secondary')
        }
        for (unselected of stars.slice(val)) {
            unselected.classList.add('text-secondary')
            unselected.classList.remove('text-warning')
        }
    }
    const starMouseout = () => {
        const input = document.querySelector('#score')
        starClick(input)
    }
</script>

<input type="hidden" id="score" name="{{ widget.name }}" value="0" {% include "django/forms/widgets/attrs.html" %}>
<div id="stars-list" class="mt-1">
    <div class="rating-star d-inline"
         value="1"
         onmouseout="starMouseout()"
         onmouseover="starMouseover(this)"
         onclick="starClick(this)">
        <i class="material-icons md-24 text-secondary">star</i>
    </div>
    <div class="rating-star d-inline"
         value="2"
         onmouseout="starMouseout()"
         onmouseover="starMouseover(this)"
         onclick="starClick(this)">
        <i class="material-icons md-24 text-secondary">star</i>
    </div>
    <div class="rating-star d-inline"
         value="3"
         onmouseout="starMouseout()"
         onmouseover="starMouseover(this)"
         onclick="starClick(this)">
        <i class="material-icons md-24 text-secondary">star</i>
    </div>
    <div class="rating-star d-inline"
         value="4"
         onmouseout="starMouseout()"
         onmouseover="starMouseover(this)"
         onclick="starClick(this)">
        <i class="material-icons md-24 text-secondary">star</i>
    </div>
    <div class="rating-star d-inline"
         value="5"
         onmouseout="starMouseout()"
         onmouseover="starMouseover(this)"
         onclick="starClick(this)">
        <i class="material-icons md-24 text-secondary">star</i>
    </div>
</div>

<script>
    const stars = Array.prototype.slice.call(
        document.querySelectorAll('#stars-list i')
    )
    {% if widget.value %}
        const selectedStar = document.querySelector(
            'div.rating-star[value="' + {{ widget.value|safe }}[0] + '"]'
        )
        if (selectedStar) { starClick(selectedStar) }
    {% endif %}
</script>
