<style>
    #stars-list {
        cursor: pointer;
    }
    .star-yellow,
    #stars-list:hover i {
        color: #ffc107;
    }
    .star-gray,
    #stars-list i:hover ~ i {
        color: gray;
    }
</style>

<script>
    const starClick = (el) => {
        const val = el.getAttribute('value')
        document.querySelector('#score').setAttribute('value', val)
        for (selected of stars.slice(0, val)) {
            selected.classList.add('star-yellow')
            selected.classList.remove('star-gray')
        }
        for (unselected of stars.slice(val)) {
            unselected.classList.add('star-gray')
            unselected.classList.remove('star-yellow')
        }
    }
</script>

<input type="hidden" id="score" name="score">
<div id="stars-list" class="mt-1 star-gray">
    <i class="material-icons md-24" value="1" onclick="starClick(this)">star</i>
    <i class="material-icons md-24" value="2" onclick="starClick(this)">star</i>
    <i class="material-icons md-24" value="3" onclick="starClick(this)">star</i>
    <i class="material-icons md-24" value="4" onclick="starClick(this)">star</i>
    <i class="material-icons md-24" value="5" onclick="starClick(this)">star</i>
</div>

<script>
    const stars = Array.prototype.slice.call(
        document.querySelectorAll('#stars-list i')
    )
</script>
