{% extends 'base.html' %}
{% load crispy_forms_tags humanize learnk12_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_in_container %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% for page in tutors %}
        <section>
            <h1 class="darkslategray mb-0">{{ page.title }}</h1>

        </section>

        <section>
            <div class="d-flex">
                <h2 class="text-dark mr-3">Tutor Summary</h2>
            </div>
            <div class="col-lg-8 mt-2">
                {% if page.course_subjects is not None %}
                    <div class="d-flex flex-50 {{ icon_div_cls }}">
                        <div><i class="material-icons text-secondary">description</i></div>
                        <div class="ml-1">
                            <span class="d-none d-sm-inline font-weight-bold text-nowrap mr-1">Course subject:</span>
                            <span>{{ page.course_subjects }}</span>
                        </div>
                    </div>
                {% endif %}

                {% if page.hourly_rate is not None %}
                    <div class="d-flex flex-50 {{ icon_div_cls }}">
                        <div><i class="material-icons text-secondary">payment</i></div>
                        <div class="ml-1">
                            <span class="d-none d-sm-inline font-weight-bold text-nowrap mr-1">Cost:</span>
                            <span class="text-nowrap">{{ page.hourly_rate }}$/h</span>
                        </div>
                    </div>
                {% endif %}
                {% if page.user.email is not None %}
                    <div class="d-flex flex-50 {{ icon_div_cls }}">
                        <div><i class="material-icons text-secondary">face</i></div>
                        <div class="ml-1">
                            <span class="d-none d-sm-inline font-weight-bold text-nowrap mr-1">User:</span>
                            <span class="text-nowrap">{{ page.user.email }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if page.timezone is not None %}
                    <div class="d-flex flex-50 {{ icon_div_cls }}">
                        <div><i class="material-icons text-secondary">schedule</i></div>
                        <div class="ml-1">
                            <span class="d-none d-sm-inline font-weight-bold text-nowrap mr-1">Timezone:</span>
                            <span class="text-nowrap">{{ page.timezone }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
        <section>
            <h2 class="text-dark">Description</h2>
            {{ page.description | richtext }}
        </section>
        <div>
            {% if page.user == request.user %}
                <a class="btn btn-primary" href="{% url 'update_tutor' page.id %}">Edit</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}