body {
    font-family: 'Lato', sans-serif;
}

.navbar-brand span {
    color: darkslategray;
    font-weight: 500;
}

.navbar-brand:hover span,
.navbar-brand:hover img {
    opacity: 0.8;
    color: gray;
}

nav,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.darkslategray {
    color: darkslategray;
}

.container {
    margin: 2rem auto;
}

section {
    margin-bottom: 2rem;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.md-narrow {
    margin: -3px;
}

.img-rect {
    height: 0;
    padding-bottom: calc(100% / 3 * 2);
}

.centered {
    font-size: 48px;
    padding-top: calc(30% - 24px);
}

.vert-adj-top-1 {
    margin-top: -1px;
    margin-bottom: 1px;
}

.cursor-pointer {
    cursor: pointer;
}
