{% extends "account/account_base.html" %}

{% load i18n %}

{% block title %}{% trans "Profile | Learn K12" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>My Profile</h1>
                <div class="">
                    {% if request.user.photo %}
                        <div class="avatar my-2" style="background-image: url('{{ request.user.photo.url }}'); "></div>
                    {% endif %}
                </div>
                <div>
                    <span class="m-0"><strong>First Name:</strong></span>
                    <span>{{ request.user.first_name }}</span>
                </div>
                <div>
                    <span class="m-0"><strong>Last Name:</strong></span>
                    <span>{{ request.user.last_name }}</span>
                </div>
                <div>
                    <span class="m-0"><strong>Email:</strong></span>
                    <span>{{ request.user.email }}</span>
                </div>
                <a class="btn btn-primary mt-3" href="{% url 'update_profile' %}">Update Profile</a>
            </div>
        </div>
    </div>
{% endblock %}