div.splash {
    background-image:
        linear-gradient(
            to right,
            rgba(24, 24, 64, 0.6),
            rgba(24, 24, 64, 0.8),
            rgba(24, 24, 64, 0.6)
        ),
        url("../../static/images/splash.jpg");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    max-height: 480px;
    min-height: 240px;
    height: 12vw;
}
