div.splash {
    background-image:
        linear-gradient(
            to right,
            rgba(24, 24, 64, 0.5),
            rgba(24, 24, 64, 0.8),
            rgba(24, 24, 64, 0.5)
        ),
        url("../../static/images/splash.jpg");
    background-repeat: no-repeat;
    background-position: center 15%;
    background-size: cover;
    max-height: 640px;
    min-height: 320px;
    height: 12vw;
}