{% load learnk12_tags static wagtailcore_tags %}

<footer class="container border-top py-4 mt-5 mb-0">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'images/learnk12-logo.svg' %}" width="24" height="24" alt="logo">
            <small class="ml-1 text-muted">Learn K12 ©2020</small>
        </div>
        <div class="col-6 text-right">
            {% get_footer_menu as menu_items %}
            {% for menu_item in menu_items %}
                <a href="{% slugurl menu_item.page.slug %}" class="text-muted mx-3">{{ menu_item.title }}</a>
            {% endfor %}
        </div>
    </div>
</footer>